*{
    background-color:#2D328E;
    font-size: small;
}

header{
    width: 90%;
    margin-left: 5%;
}
footer{
    background-color: orange;
}

.logo{
    height: 36px;
}
.imagem{
    height: 100%;
}