<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Cadastro de usuario</h1>
    <form action="/cadastro" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha">
        </div>
        <div>
            <label for="escola">Escola: </label>
            <select name="id_escola" id="id_escola">
                <% escolas.forEach(escola =>{ %>
                <option value="<%= escola.id %>"><%=escola.nome %></option>
                <% })%>
            </select>
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
        
    </form>
</body>
</html>