<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style/bootstrap.css" />
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="telin col-12 row mx-auto mt-5" style="border-radius: 30px;">
        <div class="col-6 container p-5">
            <div>
                <h3>Cadastrar Usuario</h3>
            </div>
            <div>
                <form action="/cadastro" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="nome completo" name="nome">
                        <label for="floatingInput">Nome:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="nome@exemplo.com" name="email">
                        <label for="floatingInput">Email:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingInput" placeholder="nome completo" name="senha">
                        <label for="floatingInput">Senha:</label>
                    </div>

                    <div>
                        <label for="escola">Escola: </label>
                        <select name="id_escola" id="id_escola">
                            <% escolas.forEach(escola =>{ %>
                            <option value="<%= escola.id_escola %>"><%=escola.nome %></option>
                            <% })%>
                            <option value="null">Nenhuma listada a cima</option>
                        </select>
                    </div>
                    <div>
                        <label for="especializacao">Eu sou:</label>
                        <input type="radio" name="proficao" id="" value="Professor(a)">Professor(a)
                        <input type="radio" name="proficao" id="" value="Coordenador(a)">Coordenador(a)
                    </div>
                    <div>
                        <button type="submit" action="/professor"> Cadastrar </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 container p-5" style="background-color: #f2ae4b; border-radius: 0 30px 30px 0;">
            <div class="align-items-center my-5">
                <h1>Bem vindo(a) ao nosso site!</h1>
                <p>Já possui uma conta?</p>
                <button class="btn btn-cadastrar"><a href="/autenticar" style="color: #fff;">Entrar</a></button> 
            </div>
        </div>
    </div>
</body>
</html>