<%- include('layout/cadastrado/header') %>
<nav class="nav navi nav-underline justify-content-between">
    <a class="nav-item nav-link link-body-emphasis active" href="/professor/:id">Resultados Alunos</a>
    <a class="nav-item nav-link link-body-emphasis" href="#serv">Média da turma</a>
    <a class="nav-item nav-link link-body-emphasis" href="/criarTurma">Cadastrar Turma</a>
    <a class="nav-item nav-link link-body-emphasis" href="/cadastroAluno">Adicionar Aluno</a>
</nav>
<div class="main">
    <div class="container p-5">
    <form action="/cadastroAluno" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite aqui...">
        </div>
        <div>
            <label for="turma">Turma</label>
            <select name="id_turma" id="id_turma">
                <% turmas.forEach (turma => { %>
                    <option value="<%=turma.id_turma %>"><%= turma.nome %></option>
                <% }); %>    
            </select>
        </div>
        <div>
            <button type="submit">Adicionar</button>
        </div>
    </form>
    </div>
</div>
<%- include('layout/cadastrado/footer') %>
