<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: #2D328E;
    margin: 0;
    font-family: arial;
    
}
header{
    position: absolute;
    position:static;
    height: 10vh;
}
.img img{
    width: 100%;
    height: 100%;
}
#id-escola-e-turma{
    float: right;
    padding: 0 0.5vw 1vh 2vw;
    background-color: #65B3C7;
    border-radius: 0 0 0 35px;
}
#id-escola-e-turma p{
    font-size: 2vw ;   /* tamanho da letra */
    background-color: #65B3C7;
    color: #ffff;
    
}
#planeta-001{
    position: absolute;
    width: 15vw;
    padding: 0 0 0 5vw;
    z-index: 2;
    animation: subirDescer 3s ease-in-out infinite;
}
#davejet-logo{
    position: absolute;
    z-index: 3;
    width: 45vw;
    padding: 15vh 27.5vw 23.6vh 27.5vw;
}
#planeta-002{
    position: absolute;
    width: 10vw;
    padding: 60vh 0 0 20vw;
    z-index: 1;
    animation: subirDescer 4s ease-in-out infinite;
}
#nave{
    position:absolute;
    width: 25vw;
    height: 30vh;
    padding: 30vh 0 0 70vw;
    animation: subirDescer 2s ease-in-out infinite;
}
#botao{
    position: absolute;
    z-index: 3;
    width: 20vw;
    padding: 52vh 40vw 0 40vw;
}
#btn{
    background-color: #65B3C7;
    border-style: none;
    width: 100%;
    height: 10vh;
    font-size: 2vw;
    color: #ffff;
    border-radius: 50px;
    box-shadow: 8px 8px #F2AE4B;
    
}

@keyframes subirDescer {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5vh);
    }
}
    </style>
</head>
<body>
    <header>
        <div id="id-escola-e-turma">
            <p><%= turma.nome %></p>
        </div>
    </header>
    <main>
        <div id="planeta-001">
            <div class="img">
                <img src="/image/Planeta02.png" alt="">
            </div>
        </div>
        <div id="davejet-logo">
            <div class="img">
                <img src="/image/logo.png" alt="">
            </div>
        </div>
        <div id="planeta-002">
            <div class="img">
                <img src="/image/Planeta02.png" alt="">
            </div>
        </div>
        <div id="nave">
            <div class="img">
                <img src="/image/Nave.png" alt="">
            </div>
        </div>
        <div id="botao">
            <a href="/escolherNome/<%=turma.id_turma%>">
                <input id="btn" type="button" value="ENTRAR">
            </a>
        </div>
    </main>
</body>
</html>