<%- include('layout/cadastrado/header') %>
<nav class="nav navi nav-underline justify-content-between">
    <a class="nav-item nav-link link-body-emphasis active" href="/professor/:id">Resultados Alunos</a>
    <a class="nav-item nav-link link-body-emphasis" href="#serv">Média da turma</a>
    <a class="nav-item nav-link link-body-emphasis" href="/criarTurma">Cadastrar Turma</a>
    <a class="nav-item nav-link link-body-emphasis" href="/cadastroAluno">Adicionar Aluno</a>
</nav>
<div class="main">
    <div class="container" style="padding-bottom: 2vh; "> 
        <% for (const info of infoTotal) { %>
            <% if(info.tipo === 'avizo') { %>
                <h2 style="height: 66vh;">Este professor não tem nenhuma turma cadatrada</h2>
            <%} else if (info.tipo === 'turma') { %>
                <h2>Turma: <%= info.dados.nome %></h2>
            <% } else if (info.tipo === 'aluno') { %>
                <p><%= info.dados.nome %></p>
            <% } %>
        <% } %> 
    </div>
</div>

<%- include('layout/cadastrado/footer') %>