<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "/style/cobrinha.css">
    <script src="/games/cobrinha/script.js" defer type="module"></script>
</head>
</head>
<body>
    <div id="all-game">
        <div id="pick-word">
          <p>
            <span id="letra-0">A</span>
            <span id="letra-1">B</span>
            <span id="letra-2">A</span>
            <span id="letra-3">C</span>
            <span id="letra-4">A</span>
            <span id="letra-5">X</span>
            <span id="letra-6">I</span>
          </p>
        </div>
        <div id="game-board">
          
        </div>
      </div>
</body>
</html>